# Laravel
/vendor/
/node_modules/
/.env
/.env.*
.env
.env.*
/public/storage
/storage/*.key
/storage/*.log
/storage/app/*.zip
/storage/app/public/
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/testing/**
/storage/framework/views/**
/bootstrap/cache/*.php
/.idea/
/.vscode/
.phpunit.result.cache
composer.lock
npm-debug.log
yarn-error.log
/pnpm-lock.yaml
package-lock.json
/coverage/
.DS_Store
Thumbs.db
